#root {
  /* margin: 0 40px; */
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #3A3A3A;
  width: 100%;
  color: white;
  --card-grey: #414141;
  --background-grey: #3a3a3a;
  --accent-blue: #6983FF;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf")
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 187px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.introLinks>i {
  color: white;
  font-size: 58px;
}

.card {
  background-color: #414141;
  box-shadow: 0 4px 16px 0 rgba(0 0 0 .3);
}

.mainCard {
  width: 720px;
  height: 400px;
  border-radius: 16px;
  padding: 90px 60px;
  box-sizing: border-box;
  margin-top: 41px;
  margin-right: 100px;
}

.mainCardText>h1 {
  font-size: 60px;
  font-family: "Poppins-SemiBold";
  text-shadow: -4px 4px var(--accent-blue);
}

.mainCardText>h3 {
  font-size: 24px;
  color: var(--accent-blue);
  margin: 24px 0;
}

.mainCardText>p {
  font-size: 18px;
  font-family: "Poppins-Regular";
}

.verticalLine {
  border-left: 4px solid var(--accent-blue);
  height: 141px;
  border-radius: 16px;
  margin: 6px 40px 0;
}

.memoji {
  width: 450px;
  height: 500px;
}

span {
  color: var(--accent-blue);
}

/* Divider Styles */

.horizontalLine {
  border-top: 4px solid var(--accent-blue);
  width: 40%;
}

.divider {
  justify-content: space-between;
  align-items: center;
  margin: 64px 0;
}

.divider>h3 {
  color: var(--accent-blue);
}

/* About Me Styles */

.aboutMeCard {
  box-sizing: border-box;
  width: 695px;
  height: 355px;
  padding: 90px 64px;
  border-radius: 16px;
  font-family: "Poppins-Regular";
  margin-left: -128px;
}

.aboutMeCard>p {
  font-size: 24px;
}

.aboutMe {
  justify-content: center;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.handAnimated {
  position: relative;
  right: 75px;
  animation: wave 2s infinite ease-in-out;
  transform-origin: center;
  font-size: 128px;
}

/* Skill Styles */

.comingSoonSection {
  display: flex;
  justify-content: center;
}

.comingSoon {
  width: 440px;
  height: 176px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Portfolio Styles */

.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}





